p {
    background-color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;;
    text-align: center;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #666;
    margin-top: 10px;
    font-size: 24px;
}
pre {
    background-color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #666;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;;
}
li {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 20px 0;
    font-family: 'Courier New', Courier, monospace;;
    font-size: 16px;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    color: #333;
}